.woocommerce:where(body:not(.woocommerce-block-theme-has-button-styles)) #respond input#submit, 
.woocommerce:where(body:not(.woocommerce-block-theme-has-button-styles)) a.button, 
.woocommerce:where(body:not(.woocommerce-block-theme-has-button-styles)) button.button, 
.woocommerce:where(body:not(.woocommerce-block-theme-has-button-styles)) input.button, 
:where(body:not(.woocommerce-block-theme-has-button-styles)) .woocommerce #respond input#submit, 
:where(body:not(.woocommerce-block-theme-has-button-styles)) .woocommerce a.button, 
:where(body:not(.woocommerce-block-theme-has-button-styles)) .woocommerce button.button, 
:where(body:not(.woocommerce-block-theme-has-button-styles)) .woocommerce input.button {
    @include primary-button;
}



.msp-container-ui {

    &.msp-embed-mode {

        .msp-ui-payment-form {

            &.msp-ui-credit-card-gateway {
                padding-top: 0;
            }
        }
    }

    .msp-ui-control-error-message {
        margin-top: spacing('4x-small');
        font-size: 12px;
    }
}