
.select2-dropdown {
    border-color: color('primary');
}

.select2-search {

    &--dropdown {
        padding: 0 spacing('x-small') spacing('3x-small');
    }

    &__field {

        @include state('select2-search--dropdown', '.select2-search') {
            border-color: color('border');
            border-radius: 4px;

            &:focus {
                border-color: color('primary');
                outline: none;
            }
        }
    }
}

.select2-results {

    &__option {
        padding: spacing('3x-small') spacing('x-small');
        outline: none !important;
    }
}

.select2-container {

    .select2-selection {

        &--single {
            height: auto;
            border: solid color('border') 1px;

            @include state('select2-container--focus', '.select2-container') {
                border-color: color('primary');
            }

            @include state('select2-container--open', '.select2-container') {
                border-color: color('primary');
            }

            .select2-selection {

                &__rendered {
                    line-height: 1;
                    text-align: left;
                    padding: spacing('x-small') spacing() spacing('x-small') spacing('x-small');
                }

                &__arrow {
                    top: 50%;
                    transform: translateY(-50%);
                }
            }
        }
    }

    .select2-results {

        &__option {

            &--highlighted {

                &[aria-selected],
                &[data-selected] {

                    @include state('select2-container--default', '.select2-container') {
                        background-color: color('primary');
                    }
                }

                
            }
        }
    }
}

